<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MythicalRev</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/70d1544551.js" crossorigin="anonymous"></script>

</head>
<body>
  
    <div class="mainContent">
      <div class="infoContent">
        <img width="25%" src="https://cdn.discordapp.com/avatars/501514913026408448/<%= json.data.discord_user.avatar %>?size=1024" style="border-radius: 100%; aspect-ratio: 1 / 1;"></img>
        <div class="nameContent">
          <h1 style="font-size: 2vw;">MythicalRev</h1>
          <p style="font-size: 1.25vw;">Hello, my name is Mythical and I enjoy things like coding and playing games with friends</p>
        </div>
      </div>
      <div class="statusContent">
        <div class="discordContent">
          <% if (json.data.discord_status == "online") { %>
            <img width="20%" src="https://cdn.discordapp.com/avatars/501514913026408448/<%= json.data.discord_user.avatar %>?size=1024" style="aspect-ratio: 1 / 1; border-radius: 100px; margin-left: 10px; border-color: lime; border-style: solid; border-width: 0.25vw;"></img>
          <% } else if (json.data.discord_status == "dnd") { %>
            <img width="20%" src="https://cdn.discordapp.com/avatars/501514913026408448/<%= json.data.discord_user.avatar %>?size=1024" style="aspect-ratio: 1 / 1; border-radius: 100px; margin-left: 10px; border-color: red; border-style: solid; border-width: 0.25vw;"></img>
          <% } else if (json.data.discord_status == "idle") { %>
            <img width="20%" src="https://cdn.discordapp.com/avatars/501514913026408448/<%= json.data.discord_user.avatar %>?size=1024" style="aspect-ratio: 1 / 1; border-radius: 100px; margin-left: 10px; border-color: orange; border-style: solid; border-width: 0.25vw;"></img>
          <% } else if (json.data.discord_status == "offline") { %>
            <img width="20%" src="https://cdn.discordapp.com/avatars/501514913026408448/<%= json.data.discord_user.avatar %>?size=1024" style="aspect-ratio: 1 / 1; border-radius: 100px; margin-left: 10px; border-color: gray; border-style: solid; border-width: 0.25vw;"></img>
          <% } %>
          <div class="nameContent" style="margin-left: 10px;">
            <p style="font-size: 1.1vw; font-weight: bold;"><%= json.data.discord_user.display_name %></p>
            <% if (json.data.discord_status != "offline") { %>
              <% if (json.data.activities[0].name == "Spotify") { %>
                <p style="font-size: 0.8vw;">Listening to Spotify</p>
              <% } else if (json.data.activities[0].name == "Custom Status") { %>
                <p style="font-size: 0.8vw;"><%= json.data.activities[0].state %></p>
              <% } else if (json.data.activities[0].name != "Spotify") { %>
                <p style="font-size: 0.8vw;">Playing <%= json.data.activities[0].name %></p>
              <% } %>
            <% } %>
          </div>
        </div>
  
        <div class="discordContent">
          <% if (json.data.spotify != null) { %>
            <img width="20%" src="<%= json.data.spotify.album_art_url %>" style="aspect-ratio: 1 / 1; border-radius: 25%; margin-left: 10px;"></img>
            <div class="nameContent" style="margin-left: 10px;">
              <p style="font-size: 0.85vw; font-weight: bold;"><%= json.data.spotify.song %></p>
              <p style="font-size: 0.75vw;"><%= json.data.spotify.artist %></p>
            </div>
          <% } else { %>
            <p style="margin: auto; font-size: 1vw; font-weight: bold;">Not Listening to Spotify</p>
          <% } %>
        </div>
      </div>

      <div class="footerContent">
        <button class="projectButton" id="button" style="font-size: 1.5vh; font-weight: bold;">Projects</button>
        <a href="https://github.com/MythicalRev"><i style="font-size: 1.5vw;" class="fa-brands fa-github fa-2xl"></i></a>
        <a href="https://discord.com/users/501514913026408448"><i style="font-size: 1.5vw;" class="fa-brands fa-discord fa-2xl"></i></a>
        <a href="https://www.youtube.com/@mythicalrev"><i style="font-size: 1.5vw;" class="fa-brands fa-youtube fa-2xl"></i></a>
        <a href="https://www.twitch.tv/mythicalrev02"><i style="font-size: 1.5vw;" class="fa-brands fa-twitch"></i></a>
      </div>
    </div>

    <div id="projects" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-body">
          <span class="close">&times;</span>
          <p style="font-size: 2vh; font-weight: bold;">Roblox Delving Game (UNFINISHED)<a><button disabled class="visitBtn" style="margin-left: 20px; font-size: 1.5vh; font-weight: bold;">Visit</button></a></p>
          <br>
          <p style="font-size: 2vh; font-weight: bold;">Beat Saber Stats<a href="https://bs.mythicalrev.dev"><button disabled class="visitBtn" style="margin-left: 20px; font-size: 1.5vh; font-weight: bold;">Visit</button></a></p>
        </div>
      </div>
    
    </div>
  
  <div id="particles-js"></div>
  
  <script src="/scripts/particles.js"></script>
  <script src="/scripts/script.js"></script>

  <script>
    var modal = document.getElementById("projects");

// Get the button that opens the modal
var btn = document.getElementById("button");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "flex";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
  </script>
</body>